<html>
  <head>
    <title>Pi Video Surveillance</title>
  </head>
  <body>
    <h1>Pi Video Surveillance</h1>
    <img src="{{ url_for('video_feed') }}"><br>

    <form action="/" method="post">
      <button name="toggle_button" type="submit" value="{{button}}">{{button}}</button><br>
    </form>
    <form action="/" method="post" id="nameform">
      <label>URL:</label>
      <input type="text" name="yt_url" value="{{raw_url}}">
      <button name="submit_yt" type="submit" value="submit_yt">Submit</button>
      <button name="stop_yt" type="submit" value="stop_yt">Stop</button>
      <p>{{yt_response}}</p>
    </form>
  </body>
</html>
